:root {
  --first-color: #0278ae;
  --second-color: #51adcf;
  --third-color: #a5ecd7;
  --fourth-color: #e8ffc1;
  --box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

.Weather {
  font-family: Verdana, sans-serif;
  border: 1px solid var(--first-color);
  border-radius: 4px;
  padding: 16px;
  color: var(--third-color);
  background: var(--second-color);
}

.Weather form {
  margin-bottom: 20px;
}

.Weather .form-control {
  color: var(--first-color);
  border: 1px solid var(--second-color);
  box-shadow: var(--box-shadow);
}

.Weather .btn {
  background: var(--first-color);
  border: 1px solid var(--second-color);
  color: var(--fourth-color);
  box-shadow: var(--box-shadow);
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather canvas {
  margin-right: 10px auto;
  color: var(--fourth-color);
}

.Weather .temperature {
  font-weight: 400;
  color: var(--first-color);
  font-size: 70px;
  line-height: 64px;
  margin-left: 10px;
}

.Weather .unit {
  color: var(--first-color);
  font-size: 16px;
  font-weight: 500;
  position: relative;
  top: -32px;
  line-height: 1;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  list-style: none;
  line-height: 19px;
  font-weight: 100;
}
